.home {
  margin: 0 auto;

  display: flex;
  align-items: center;
  text-align: center;

  .logo {
    height: 12em;
    padding: 1em;
    will-change: filter;
    transition: filter 300ms;

    &:hover {
      filter: drop-shadow(0 0 2em #728094b4);
    }
  }

  p {
    margin-top: 1em;

    font-weight: 700;

    &.docs {
      font-weight: 400;
      color: #888;
    }
  }

  code {
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
  }
}
