<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css" />
  <title>feedback</title>
</head>

<body>
  <section class="contacts">
    <div class="container">
      <form class="form" id="mail" action="/api/users/feedback" method="POST"
        enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
        <h2 class="row">Send your feedback</h2>
        <div class="row">
          <label>
            <input class="u-full-width" name="name" type="text" placeholder="Name" />
          </label>
        </div>
        <div class="row">
          <label>
            <input class="u-full-width" name="email" type="email" placeholder="E-mail" />
          </label>
        </div>
        <textarea class="u-full-width" placeholder="Your message" name="text"></textarea>
        <div class="row">
          <button class="button-primary" type="submit">Send</button>
          <button class="button-primary" type="reset">Clean</button>
        </div>
      </form>
    </div>
  </section>
</body>

</html>