@import 'styles/utils/mixins';

.sidebar {
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5em;

    @include check;
    background-color: $main-color;
  }

  a {
    display: inline-block;

    &:nth-of-type(1) .logo {
      animation: logo-spin infinite 20s linear;
    }

    &:hover {
      color: #535bf2;
    }
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  button {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;

    transition: background-color 0.25s;
    font-size: 1em;
    font-weight: 700;
    font-family: inherit;
    background-color: #f9f9f9;

    &:hover {
      border-color: #007fff;
      background-color: #dae2ed;
    }
    &:focus,
    :focus-visible {
      background-color: #dae2ed;
      outline: 4px auto #007fff;
    }
  }

  .logo {
    height: 12em;
    padding: 1em;

    will-change: filter;
    transition: filter 300ms;
  }

  .vite {
    @extend .logo;
    height: 5em;

    &:hover {
      filter: drop-shadow(0 0 2em #646cffaa);
    }
  }

  .react {
    @extend .logo;
    height: 5em;

    &:hover {
      filter: drop-shadow(0 0 2em #61dafbaa);
    }
  }
}
