.sign {
  height: fit-content;
  margin: 0 auto;
  padding: 32px;
  align-self: center;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 12px 48px rgba(26, 33, 52, 0.11);
}

.wrapper {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

h1 {
  margin-right: 50px;
}
