%btn {
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s;

  &:hover,
  :focus {
    background-color: #dae2ed;
  }
}

.btn {
  @extend %btn;

  padding: 5px;
}

.btn_avatar {
  @extend %btn;

  width: 36px;
  height: 36px;

  border-radius: 50%;
}

.btn_link {
  display: block;

  text-decoration: underline;
  border: 1px solid transparent;
  background-color: transparent;
  color: #007fff;
}
